<!doctype html>
<html>
<head>
  <script src="js/app.min.js"></script>
  <link rel="stylesheet" href="toggle-switch.css">
  <link href='http://fonts.googleapis.com/css?family=Abel|Codystar', rel='stylesheet', type='text/css'>
  <link rel="stylesheet", href="./styles/main.css">
</head>
<title>{{ title }}</title>
<body>
  <div id="cloud"></div>
  <label class="switch-light switch-candy"> 
    <input type="checkbox" checked="checked">
    <span>
       Censored 
       <span>Off</span>
       <span>On</span>
    </span>
    <a></a>
  </label>
  <label class="word-frequency">
    minWordFrequency <input class="min" value="1" type="number"></input>
  </label>
  <label class="word-frequency">
    maxWordFrequency <input class="max" value="60" type="number"></input>
  </label>

{{#markdown}}
  {{> body}}
{{/markdown}}
</body>

